$color-primary: #346667;

.color-white{
    color: white;
}

.background-primary{
    background-color: $color-primary;
}
.background-primary-light{
    background-color: #aec2c3;
}
.background-white{
    background-color: white;
}

.font-size-14 {
    font-size: 18px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-24 {
    font-size: 24px;
}